body{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;
  }

h2{
  font-family: 'Montserrat', sans-serif;
  font-size:2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.top-container{
  background-color:#e1f2fb;
  position: relative;
  padding-top: 100px;
}
.middle-container{
  margin: 100px 0;
}
.bottom-container{
}
.pro{
  text-decoration: underline;
}
.top-cloud{
  position: absolute;
  right: 300px;
  top:40px;

}
.bottom-cloud{
  position: absolute;
  bottom: 300px;
  left:250px;
}
a{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}
.skill-row{
  margin:100px auto 100px auto;
  width: 50%;
  text-align: left;
}
.gam-pic{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.hardpic{
  width: 25%;
  float: right;
  margin-left: 30px;
}
p{
    line-height: 2;
}
hr{
  border-style: none;
  border-top-style: dotted;
  border-color:#EAF6F6;
  border-width: 6px;
  width: 5%;
  margin: 100px auto;
}
.bottom-container{
  background-color:#66BFBF;
  padding: 50px 0 20px;
  margin-top: 10px;
}
.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
.btn {
	box-shadow: 0px 0px 0px 2px #f7f7f7;
	background:linear-gradient(to bottom, #11cdd4 5%, #11999e 100%);
	background-color:#11cdd4;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size:19px;
	padding:13px 21px;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.btn:hover {
	background:linear-gradient(to bottom, #11999e 5%, #11cdd4 100%);
	background-color:#11999e;
}
.btn:active {
	position:relative;
	top:1px;
}
.contact-me{
  margin: 40px auto 60px;
  width: 40%;
}
